.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  width: 75%;

  margin: 24px auto;
  list-style: none;
  justify-content: center;
}

.gallery-link {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  width: 360px;
  height: 200px;
}
